body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #0B6623, #0B6623); /* Green gradient */
  }
  
  #board {
    display: inline-block;
    margin-top: 20px;
  }
  
  .cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
  }
  
  #resetBtn {
    display: block;
    margin: 20px auto; /* Centering the reset button */
  }
  body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom,#0B6623, #0B6623); /* Green gradient */
  }
  
  #board {
    display: inline-block;
    margin-top: 20px;
  }
  
  .cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
  }
  
  #resetBtn {
    display: block;
    margin: 20px auto; /* Centering the reset button */
  }
    